<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>App Cibertec</span>
    &nbsp;&nbsp;


    <button mat-button color="warn" (click)="irHome()">Home</button>&nbsp;&nbsp;
    <button mat-button color="warn" (click)="irCurso()">Curso</button>&nbsp;&nbsp;
    <button mat-button color="warn" (click)="irPost()">Post</button>&nbsp;&nbsp;
    <button mat-button color="warn" (click)="irEstado()">Estado</button>&nbsp;&nbsp;
    <button (click)="logout()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>power_settings_new</mat-icon>
      </button>
  </mat-toolbar>
  
<hr/>
<router-outlet/>
